:root {
    --div-background-color: red;
    --text-color: #000;
    --div-padding: 10px;
    --div-margin: 10px;
}
/* var params var(variable, fallback) */
body{
    background-color: var(--background-color, pink);
}

.child{
    background-color: var(--div-background-color);
    color: var(--text-color);
}

.one {
    --div-background-color: blue;
    --text-color: white;
}

.one-one {
    margin: var(--div-margin);
    padding: var(--div-padding);
}

.one-two {
    margin: var(--div-margin);
    padding: var(--div-padding);
}
